label input {
   margin-left: 15px;
}

.form {
   border: 1px solid black;
   padding: 10px;
   width: 225px;
   height: 225px;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   box-shadow: 5px 5px 15px 1px rgba(0, 0, 255, .2);
}